:root {
}

body {
    color: #ffaa00;
    /*background-color: red;*/
    background-image: url(../images/pexels-pixabay-34534.jpg);
    background-position: 50vw 100px;
    /*width: 50vw;*/
    background-size: 100vw;
    margin: 0;
    /*font-family: 'Roboto', sans-serif;*/
}

.fancy-header {
    font-size: 2rem;
    text-align: center;
    color: blue;
    text-decoration: underline;
    font-family: 'Rubik Storm', cursive;
}

header, section {
    border-bottom: solid grey;
}

header {
    color: blueviolet;
    text-decoration: underline;
}

/*table {*/
/*    padding: 0;*/
/*    text-align: center;*/
/*}*/

table {

}

th {
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
}

tr {
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}

.image-array {
    padding: 0;
    width: 100%;
}

img {
    /*padding: 0;*/
    width: 100%;
}

li {
    list-style-type: upper-roman;
}

a {
    font-size: 2rem;
}

a:link {
    color: #00ffa6;
    position: absolute;
}

a:visited {
    color: #cb7e14;
}

a:hover {
    color:red;
}

a:active {
    color: #d000ff;
}