header, section {
    border-bottom: solid grey;
    /*padding-bottom: 8px;*/
}

img {
    width: 50vw;
}

h1 {
    color: red;
}

.fancy-header {
    color: blue; /* single line comment */
    text-decoration: underline;
}